<html>
<body>

	<!--<form>  -->
	 <form action="#" th:action="@{/dropouts.html}" th:object="${country}" method="post">
		<select name="ctryname">
			<option value="Norway">Norway</option>
			<option value="Finland">Finland</option>
			<option value="Liechtenstein">Liechtenstein</option>
			<option value="Luxembourg">Luxembourg</option>
			<option value="Andorra">Andorra</option>
			<option value="Georgia">Georgia</option>
			<option value="Greenland">Greenland</option>
			<option value="Estonia">Estonia</option>
			<option value="Canada">Canada</option>			
			<option value="Netherlands">Netherlands</option>
			<option value="Monaco">Monaco</option>
			<option value="France">France</option>
			<option value="Ireland">Ireland</option>
			<option value="Australia">Australia</option>
			<option value="Denmark">Denmark</option>
			<option value="Uzbekistan">Uzbekistan</option>
			<option value="United_Kingdom">United_Kingdom</option>
			<option value="New_Zealand">New_Zealand</option>
			<option value="Guam">Guam</option>
			<option value="Czech_Republic">Czech_Republic</option>
			<option value="United_States">United_States</option>
			<option value="Sweden">Sweden</option>
			<option value="Japan">Japan</option>
			<option value="Belgium">Belgium</option>
			<option value="Switzerland">Switzerland</option>
			<option value="Iceland">Iceland</option>
			<option value="Germany">Germany</option>
			<option value="North_Korea">North_Korea</option>
			<option value="Italy">Italy</option>
			<option value="Azerbaijan">Azerbaijan</option>
			<option value="Bulgaria">Bulgaria</option>
			<option value="Grenada">Grenada</option>
			<option value="Croatia">Croatia</option>
			<option value="Romania">Romania</option>
			<option value="Spain">Spain</option>
			<option value="Aruba">Aruba</option>
			<option value="Argentina">Argentina</option>
			<option value="Cuba">Cuba</option>
			<option value="Greece">Greece</option>
			<option value="The_Bahamas">The_Bahamas</option>
			<option value="Cyprus">Cyprus</option>
			<option value="Chile">Chile</option>
			<option value="Panama">Panama</option>
			<option value="Fiji"></option>
			<option value="Jamaica">Jamaica</option>
			<option value="Portugal">Portugal</option>
			<option value="Ecuador">Ecuador</option>
			<option value="Kuwait">Kuwait</option>
			<option value="Peru">Peru</option>
			<option value="Brazil">Brazil</option>
			<option value="Qatar">Qatar</option>
			<option value="China">China</option>
			<option value="Swaziland">Swaziland</option>
			<option value="Kenya">Kenya</option>
			<option value="Turkey">Turkey</option>
			<option value="Cameroon">Cameroon</option>
			<option value="Iran">Iran</option>
			<option value="Libya">Libya</option>
			<option value="Tunisia">Tunisia</option>
			<option value="Rwanda">Rwanda</option>
			<option value="Cambodia">Cambodia</option>
			<option value="Guatemala">Guatemala</option>
			<option value="Laos">Laos</option>
			<option value="Madagascar">Madagascar</option>
			<option value="Algeria">Algeria</option>
			<option value="Nigeria">Nigeria</option>
			<option value="Uganda">Uganda</option>
			<option value="Egypt">Egypt</option>
			<option value="Angola">Angola</option>
			<option value="Gabon">Gabon</option>
			<option value="Haiti">Haiti</option>
			<option value="Sudan">Sudan</option>
			<option value="India">India</option>
			<option value="Pakistan">Pakistan</option>
			<option value="Ethiopia">Ethiopia</option>
			<option value="Bhutan">Bhutan</option>
			<option value="Mozambique">Mozambique</option>
			<option value="Mauritania">Mauritania</option>
			<option value="Bangladesh">Bangladesh</option>
			<option value="Senegal">Senegal</option>
			<option value="Yemen">Yemen</option>
			<option value="Nepal">Nepal</option>
			<option value="Guinea-Bissau"></option>
			<option value="Somalia">Somalia</option>
			<option value="Sierra_Leone">Sierra_Leone</option>
			<option value="Iraq">Iraq</option>
			<option value="Benin">Benin</option>
			<option value="Guinea">Guinea</option>
			<option value="Afghanistan">Afghanistan</option>
		</select>
		
		<button type="submit">Submit</button>
	</form>

	<p>Choose a field, and click the "Submit" button to send input to
		the server.</p>
	<a href="/"> Return to Home Page </a>
</body>
</html>